@font-face {
  font-family: "Gilroy Light";
  font-style: normal;
  font-weight: 400;
  src: local('Gilroy Light'),
    url('../fonts/gilroylight.woff2') format('woff2'),
    url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: 700;
  src: local('Gilroy Bold'),
    url('../fonts/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;

  background-color: #fff;
  color: #464646;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover,
a:focus {
  opacity: .6;
}

a:active {
  opacity: .3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden
}

.site-navigation,
.sub-navigation,
.user-navigation,
.shopping-navigation,
.slider,
.slider-navigation,
.featured-categories-list,
.tabs-list,
.brands-list,
.about-us ul,
.footer-navigation,
.footer-social ul,
.breadcrumbs,
.filter-list,
.sorting-params,
.order-params,
.products-list,
.pagination-list {
  list-style: none;
}

.btn {
  font-family: "Gilroy Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

h2 {
  font-family: "Gilroy Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 47px;
  line-height: 48px;
}

/* header
- - - - - - - - - - - - - - - - - - - - */
.main-header {
  background-color: #f7e296;
}

/* logo
- - - - - - - - - - - - - - - - - - - - */
.main-logo-url {
  font-family: "Gilroy Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

/* main nav
- - - - - - - - - - - - - - - - - - - - */
.site-navigation-item {
  font-family: "Gilroy Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.sub-navigation-item {
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 36px;
  text-transform: initial;
}

/* Bestsellers slider
- - - - - - - - - - - - - - - - - - - - */
.bestsellers .slide-title {
  font-family: "Gilroy Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 47px;
  line-height: 56px;
  color: #000;
}
.featured-product-params thead {
  display: table-footer-group;
}
.featured-product-params th {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}
.featured-product-params td {
  font-family: "Gilroy Light", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 36px;
  line-height: 48px;
}

/* Featured Categories
- - - - - - - - - - - - - - - - - - - - */
.featured-category h3 {
  font-family: "Gilroy Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

/* Services
- - - - - - - - - - - - - - - - - - - - */
.tabs-list {
  background-color: #e5e5e5;
  border-right: 7px solid #000;
}
.tab-title {
  font-family: "Gilroy Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
}
.tab-title-current {
  background-color: #000;
  color: #f7e184;
}
.tab-title-current a {
  color: #f7e184;
}
.tab-panel {
  background-color: #e5e5e5;
}

/* Footer
- - - - - - - - - - - - - - - - - - - - */
.main-footer {
  background-color: #464646;
  color: #fff;
}

.main-footer a {
  color: #fff;
}

.main-footer .main-logo-url {
  color: #ffc600;
}

/* Modals
- - - - - - - - - - - - - - - - - - - - */
.modal {
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.feedback-form label {
  display: block;
  font-family: "Gilroy Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
}
.feedback-form input,
.feedback-form textarea {
  font: inherit;
  background-color: #f2f2f2;
  border: 3px solid #f2f2f2;
}
.feedback-form input:hover,
.feedback-form textarea:hover {
  background-color: #eaeaea;
  border-color: #eaeaea;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  background-color: #fff;
  border-color: #f7e296;
}

.feedback-form input:invalid,
.feedback-form textarea:invalid {
  background-color: #f6dada;
  border-color: #f6dada;
}


